$ns: '.moviereviews';

#{$ns} {
    position: relative;
    display: inline-block;
    padding: 5rem 0;
    
    &:before{
        content: '';
        position: absolute;
    }

    &__wrapper {
        margin-bottom: 3rem;
    }

    &__author {
        background: $color1;
        display: inline;
        color: $color-black;
        padding: .3rem 1rem;
        font-weight: 100;
        font-size: 3rem;
    }

    &__content {
        font-size: 1.5rem;
        background: $color2;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
