$ns: '.movieinfo';

#{$ns} {
    
    &__title {
        font-size: 4rem;
    }

    &__wrapper {
        max-width: 130rem;
        margin: auto;
        position: relative;
    }

    &__description {
        font-size: 2rem;
        width: 30%;
        margin: 2%;
    }

    &__sidebar {
        position: absolute;
        right: 5%;
        top: 0;
        width: 40%;

        &-data{
            list-style: none;
        }
    }

    &__credits {
        
    }
}